
### Other Dev Tools
RUN curl -sL https://deb.nodesource.com/setup_8.x | bash -
RUN apt-get install -y nodejs
RUN npm install -g create-react-app
RUN cd /var/projects/learnreact && create-react-app test1
