alabaster==0.7.9
asn1crypto==0.24.0
astroid==1.6.3
attrs==18.1.0
Babel==2.3.4
boto3==1.5.29
botocore==1.8.43
certifi==2017.7.27.1
cffi
chardet==3.0.4
CommonMark==0.5.4
coverage==4.5.1
cryptography==2.3
docopt==0.6.2
#: pypa.readme_renderer requires docutils>0.13 else cannot package up!
docutils>=0.14
#: pypa.readme_renderer requires bleach>=2.1.0 else cannot package up!
bleach>=2.1.0
ecdsa==0.13
#Fabric3==1.12.post1
idna==2.6
imagesize==0.7.1
isort==4.3.4
Jinja2==2.8
jmespath==0.9.3
keyring==11.0.0
lazy-object-proxy==1.3.1
MarkupSafe==0.23
mccabe==0.6.1
MiniMock==1.2.8
more-itertools==4.1.0
paramiko==2.0.9
pluggy==0.6.0
purepng==0.2.0
py==1.5.3
pycparser==2.18
pycrypto==2.6.1
PyGithub==1.35
Pygments==2.1.3
PyJWT==2.4.0
pylint==1.8.4
pytest==3.5.1
python-dateutil==2.6.1
pytz==2016.7
q==2.6
recommonmark==0.4.0
requests==2.20.0
rinoh-typeface-dejavuserif==0.1.1
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.3.1
s3transfer==0.1.13
SecretStorage==2.3.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
todoinator==0.0.1
tox==3.0.0
urllib3==1.23
virtualenv==15.2.0
wrapt==1.10.11
oauth2client
spacy
google-api-python-client
pyyaml
black
semver
twine
pillow
pyotp
matplotlib
pelican
dnspython
