###### Install with apt
RUN apt-get install -y python3.7 \
                       python3.7-dev \
                       python3-distutils \
                       python3-distlib \
                       python3-pip

###### symlinking to have `pip` and `python`
RUN cd /usr/bin \
       && ln -sf python3.7 python \
       && ln -sf python3.7 python3 \
       && ln -sf pip3 pip

#####
RUN python3 -m pip install --upgrade pip
RUN python3 -m pip install pygithub

### update python pkgs
# Install any needed packages (ie above those for the runtime)
RUN pip install --trusted-host pypi.python.org sphinx \
                                               pytest \
					       pylint


# install requirements file. (why not specify in thisfile???)
COPY rcassets/requirements.txt $WKDIR/
RUN pip install -r $WKDIR/requirements.txt
# Additonal setup for spacy.  I think this is sensible to do specify in this file them
RUN python -m spacy download en

# seems ubunut installs pip_internal again mucking things up

# lastly redo symlinks
RUN rm /usr/bin/python
RUN ln -s /usr/bin/python3 /usr/bin/python